@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .popup {
    background-image: radial-gradient(
      circle at 50% 50%,
      #fffffb 0,
      #edeef1 50%,
      #c6cfe6 100%
    );
  }

  .transition-left {
    -webkit-animation: scale-in-hor-left 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .right-transition {
    -webkit-animation: scale-in-hor-right 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .text-fade {
    -webkit-animation: tracking-in-expand-fwd-bottom 0.8s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd-bottom 0.8s
      cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .text-semi {
    font-size: 15px;
    line-height: 24px;
  }

  .app-color {
    background: rgb(228, 147, 17);
    background: linear-gradient(
      160deg,
      rgba(228, 147, 17, 0.9835531624759278) 6%,
      rgba(235, 227, 214, 1) 100%
    );
  }

  .faq-transition {
    background: linear-gradient(60deg, #f29260, #efe6e1, #f87058);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 32s ease infinite;
    -moz-animation: AnimationName 32s ease infinite;
    -o-animation: AnimationName 32s ease infinite;
    animation: AnimationName 32s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}

.questions-transiiton {
  background: linear-gradient(104deg, #d2cecc, #efe6e1, #9b9b9b);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 32s ease infinite;
  -moz-animation: AnimationName 32s ease infinite;
  animation: AnimationName 32s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:15% 0%}
  50%{background-position:86% 100%}
  100%{background-position:15% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:15% 0%}
  50%{background-position:86% 100%}
  100%{background-position:15% 0%}
}
@keyframes AnimationName {
  0%{background-position:15% 0%}
  50%{background-position:86% 100%}
  100%{background-position:15% 0%}
}
}
